.bar {
    fill: steelblue;
}
.highlight {
    fill: orange;
}


form {
    margin-left: 60px;
    font-family: Consolas, monospace;
}
div {
    margin-left: 60px;
    font-family: Consolas, monospace;
}
section {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
    font-family: Consolas, monospace;
    
}

body {
    margin-top: 100px;
    font-family: Consolas, monospace;
    font-size: 12px;
}

input {
    font-family: Consolas, monospace;
    margin-bottom: 5px;
}

p {
    font-family: Consolas, monospace;
    margin-bottom: 20px;
}


p, .latexinput {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 90vw;
    max-width: 550px;
    padding: 10px 50px 10px 20px;
}



p, .latexoutput {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 90vw;
    max-width: 550px;
    padding: 10px 50px 10px 20px;
}

.myStyle {
    /* Add your styles here. For example: */
    background-color:white;
    border: none;
    color: rgb(73, 180, 218);
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.blink {
    color: red;
    animation: blink 100s infinite;
}